/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    color: #2c3e50;
    text-align: center;
}

/* Header styling */
header.my-skills {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Section Styling */
section {
    margin: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* List Styling */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #ecf0f1;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
}

.Prograamming-frameworks {
    background-color: #dcdfe1;
}

.web-technologies {
    background-color: #f0f3f5;
}

.Database {
    background-color: #e7f3f7;
}

.CSA {
    background-color: #d9f1e7;
}

.CAD {
    background-color: #f7d9e1;
}


